# Amazon SP-API Credentials
SELLING_PARTNER_APP_CLIENT_ID=
SELLING_PARTNER_APP_CLIENT_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SELLING_PARTNER_ROLE=

# PostgreSQL
DATABASE_URL=postgresql://bbeaudoin@localhost/idgemz

# OAuth
REDIRECT_URI=http://localhost:8080/callback
PORT=8080